@model IEnumerable<ArsenalPlayers.Models.Player>

@{
    ViewData["Title"] = "List";
}

<div class="container">
    <main role="main" class="pb-3">

        <h1>List</h1>

        <table class="table table-striped" style="width:100%" id="PlayerTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PlayerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JerseyNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoalsScored)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(item => item.GoalsScored))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td class="JerseyNumberTD">
                            @Html.DisplayFor(modelItem => item.JerseyNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalsScored)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>
